<!doctype html>
<html>
<head>
</head>
<body>
<div class="container-fluid">
<div class="well well-sm">
     <h3 id="acc">Credit Report</h3>
    </div>
<div >
  <div class="row">
         <div  class="col-xs-3">
       <div class="form-group">
      <label for="sel1" >From Date:</label><input type="date" class="form-control" name="bday"> 
      </div >
      </div>
       <div  class="col-xs-3">
  <div class="form-group">    
  <label for="sel1" >To Date:</label><input type="date" class="form-control" name="bday">
 </div >

 </div>
            
 <button type="button" class="btn  btn-success btn-lg" >Search</button>

  <button type="button" class="btn  btn-danger btn-lg" >Export</button>
</div>
<div style="padding:2vh">
<table class="table table-bordered">
    <thead>
      <tr style="background:orange;padding:2vh;">
        <th>Payment Date</th>
        <th>Payment Id</th>
        <th>Payment To</th>
        <th>User type</th>
        <th>Transaction type</th>
        <th>Payment type</th>
        <th>Description</th>
        <th>Remark</th>
        <th>Credit Amount</th>
        <th>Debit Amount</th>
        <th>Balance</th>
      </tr>
    </thead>
    
  </table>
</div>           
            
</div>
</body>
</html>