<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="well well-sm"> <b style="font-size:20px;">Dealer Registration Form</b>
    </div>     
    <p style="font-size:18px;">Personal Information</p>
    <hr>
    
<div class="container">
  
  <form class="form-horizontal" >
    <div class="form-group">
      <label class="control-label col-sm-2" for="Distributor Name"><sup>*</sup>Distributor Name:</label>
      <div class="col-sm-3">
        <input type="Distributor Name" class="form-control" id="Distributor Name" placeholder="Enter Distributor Name" name="Distributor Name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Postal Address"><sup> *</sup>Postal Address:</label>
      <div class="col-sm-3"> 
          <textarea class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="State"><sup> *</sup>State:</label>
      <div  class="col-sm-3"> 
    <select class="selectpicker form-control">
            <option>select state</option>
            <option>karnataka</option>
    </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Mobile No"><sup>*</sup>Mobile No:</label>
      <div class="col-sm-3">
        <input type="Mobile No" class="form-control" id="Mobile No" name="Mobile No">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Retailer Type">Retailer Type:</label>
      <div class="col-sm-3"> 
    <select class="selectpicker form-control">
            <option>select Retailer Type</option>
            <option>Telecom</option>
    </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Pan No">Pan No:</label>
      <div class="col-sm-3">
        <input type="Pan No" class="form-control" id="Pan No"  name="Pan No">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Pin Code"><sup> *</sup>Pin Code:</label>
      <div class="col-sm-3">
        <input type="Pin Code" class="form-control" id="Pin Code"  name="Pin Code">
      </div>
    </div>
     <div class="form-group">
      <label class="control-label col-sm-2" for="City/District">City/District:</label>
      <div class="col-sm-3"> 
    <select class="selectpicker form-control">
            <option>select City</option>
            
    </select>
      </div>
    </div>
     <div class="form-group">
      <label class="control-label col-sm-2" for="Landline">Landline:</label>
      <div class="col-sm-3">
        <input type="Landline" class="form-control" id="Pan No"  name="Landline">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Email"><sup> * </sup>Email:</label>
      <div class="col-sm-3">
        <input type="Email" class="form-control" id="Email"  name="Email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Contact Person"><sup> * </sup>Contact Person:</label>
      <div class="col-sm-3">
        <input type="Contact Person" class="form-control" id="Contact Person"  name="Contact Person">
      </div>
    </div>
<p style="font-size:20px"><b>Scheme Details</b></p>
    <hr>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Scheme">Scheme:</label>
      <div class="col-sm-3"> 
    <select class="selectpicker form-control">
           <option></option>      
            <option>select Scheme</option>
            <option>Dealer Scheme</option>
            <option>Supreme Dealer Scheme</option>
    </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Amount">Amount:</label>
      <div class="col-sm-3">
        <p>0</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Opening Balance">Opening Balance:</label>
      <div class="col-sm-3">
        <input type="Opening Balance" class="form-control" id="Opening Balance"  name="Opening Balance">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button><span><button type="Cancel" class="btn btn-default">Cancel</button></span>
      </div>
    </div>
<p>The field marked with * are mandatory.</p>
  </form>
</div>   

</body>
</html>