<!doctype html>
<html>
   <head>
   </head>
   <body>
      <div>
          <div class="container-fluid">
         <div class="well">Recharge Report</div>
         <div>
             </div>
            <h3>LIVE DATA FROM DATE : </h3>
            <nav class="navbar navbar-default">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                   <label for="usr">From Date</label> <input class="form-control" type="date"></input>
                    </div>
                    <div class="form-group">
                   <label for="usr">TO Date: </label><input class="form-control" type="date"></input>
                    </div>
                    <div class="form-group">
                   
                         <label for="sel1">Select list:</label>
                        <select class="form-control" id="sel1">
                           <option>1</option>
                           <option>2</option>
                           <option>3</option>
                           <option>4</option>
                        </select>
                    </div>
                     <div class="form-group">
                         <label for="sel1">Select list:</label>
                        <select class="form-control" id="sel1">
                           <option>1</option>
                           <option>2</option>
                           <option>3</option>
                           <option>4</option>
                        </select>
                         </div>
                          <div class="form-group">
                              <label for="sel1">Num/id:</label>
                              <input type="text" class="form-control" id="usr">
                              </div>
                              <div class="form-group">
                                  <label for="sel1">Select list:</label>
                                <select class="form-control" id="sel1">
                           <option>1</option>
                           <option>2</option>
                           <option>3</option>
                           <option>4</option>
                        </select>
                              </div>
                              <div class="form-group">
                                  <button type="button" class="btn btn-success btn-lg btn-block">Search</button>
                                  </div>
                </form>
                 </nav>
            </div>
         </div>
      </div>
      
   </body>
</html>