<!doctype html>
<html>
<head>
<title>Bank Details</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
  <div class="well">
  Bank List
</div>
<div style="padding:2vh">
<table class="table table-bordered">
    <thead>
      <tr style="background:orange">
        <th>Sr No</th>
        <th>Bank Name</th>
        <th>Branch Name</th>
        <th>Account Number</th>
        <th>IFSC Code</th>
      </tr>
     <tr>
    <td>1</td>
    <td>ICICI BANK</td>
    <td>Rajajinagar, Bangalore</td>
    <td>322110100000144</td>
    <td>PMCB0000322</td>
    </tr>
    </thead>
    
  </table>
</div>
</div>
</body>
</html>