<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div style="text-align:center;">
<div class="container">
<p><b style="font-size:25px;">BUS CANCELLATION</b></p>
<br>
  <form class="form-inline">
        <div class="form-group">
      <label for="Booking Id">Booking Id</label>
      <input type="Booking Id" class="form-control" id="Booking Id"  name="Booking Id">
    </div>
        <button type="search" class="btn btn-default">Search</button>
  </form>
  </div>
</div>

</body>
</html>
