<!doctype html>
<html>
<head>
<title>Change Password </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
  <div class="container-fluid">
  <div class="well">
    Change Password
</div>

<div >
<form role="form" class="col-xs-3" >

      <div class="form-group">
        <label for="oldPassword">Old Password:</label>
        <input type="text" class="form-control" name="oldPassword" >
      </div>

      <div class="form-group">
        <label for="newPassword">*New Password </label>
        <input type="text" class="form-control"  name="newPassword">
      </div>

      <div class="form-group">
        <label for="conformPassword">*Confirm Password :</label>
        <input type="text" class="form-control"  name="conformPassword">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="submit" class="btn btn-danger">Cancel</button>
    </form>
</div>
</div>
</div> 
</body>
</head>
</html>