<!doctype html>
<html>
<head>
</head>
<body>
<div>
    <div class="container-fluid">
<div class="well">
     Add Complain
    </div>
   
<form class="form-group col-xs-2" >
    <label for="sel1">Subject</label>
    <select class="form-control" id="sel1">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
  <label for="sel1">Message</label>
  <textarea class="form-control" id=""></textarea>
  <div style="margin:2vh">
  <button type="button" class="btn">Submit</button>
  <button type="button" class="btn">Cancel</button>
  </div>
    </form>
<div style="padding:2vh">
<table class="table table-bordered">
    <thead>
      <tr style="background:orange">
        <th>Complain Id</th>
        <th>Message</th>
        <th>Recharge ID</th>
        <th>Operator</th>
        <th>Number</th>
        <th>Amt</th>
        <th>Rec.Status</th>
        <th>Rec. Date</th>
        <th>Solve Date</th>
        <th>Response Message</th>
        <th>Status</th>
      </tr>
    </thead>
    
  </table>
</div>           
  </div>          
</div>
</body>
</html>