<!DOCTYPE html>
<html>
<head>
</head>
<body>
<p style="font-size:18px;"><b>Dth Activation</b></p>
<div class="well well-sm">
<div class="container">
  
  <form class="form-horizontal" >
      <div class="form-group">
      <label class="control-label col-sm-2" for="Select Operator">Select Operator:</label>
      <div class="col-sm-3"> 
    <select class="selectpicker form-control">
            <option>---select---</option>
            <option>SUN DTH</option>
            <option>BIG TV</option>
    </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Select Plan">Select Plan:</label>
      <div class="col-sm-3"> 
    <select class="selectpicker form-control">
            <option>---select---</option>
            <option>pack@129 per month</option>
    </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Name">Name:</label>
      <div class="col-sm-3">
        <input type="Name" class="form-control" id="Name"  name="Name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Address">Address:</label>
      <div class="col-sm-3">
    <textarea class="form-control"></textarea>
     </div>
</div>
<div class="form-group">
      <label class="control-label col-sm-2" for="Pin Code">Pin Code:</label>
      <div class="col-sm-3">
        <input type="Pin Code" class="form-control" id="Pin Code"  name="Pin Code">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Mobile No">Mobile No:</label>
      <div class="col-sm-3">
        <input type="Mobile No" class="form-control" id="Mobile No" name="Mobile No">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>       
</div>
</body>
</html>