<!doctype html>
<html>
<head>
</head>
<body>
<div class="container" style="width:100%;">
    
<div class="well well-sm"><b style="font-size:18px;">List Of Activation Request</b></div>

<table class="table table-bordered">
    <thead>
      <tr class="info">
        <th>Activation Id</th>
        <th>Request Date</th>
        <th>Operator Name</th>
        <th>Plan Name</th>
        <th>Amount</th>
        <th>Commission</th>
        <th>Name</th>
        <th>Number</th>
        <th>Address</th>
        <th>Pincode</th>
        <th>Status</th>
        <th>Response Message</th>
      </tr>
    </thead>
 </table>
 </div> 
</body>
</html>