<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <img src="..\img\Chrysanthemum.jpg" alt="Chrysanthemum" style="width:100%;height:400px;">
      </div>

      <div class="item">
        <img src="..\img\Desert.jpg" alt="Desert" style="width:100%;height:400px;">
      </div>
    
      <div class="item">
        <img src="..\img\Hydrangeas.jpg" alt="Hydrangeas" style="width:100%;height:400px;">
      </div>
    </div>
 </div>
<div>
	<marquee> 
    <ul>
        <li><img src="..\img\a.jpg" alt=""></li>
        <li><img src="..\img\a.jpg" alt=""></li>
        <li><img src="..\img\a.jpg" alt=""></li>
    </ul>
</marquee>
</div>
 <P><h2 style="text-align:center;color:black;text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF">INTRODUCTION</h2></P>
 <hr style="background-color: red; height: 2px; border: 0;">
 <p style="font-size:18px">HELLO... Thank You for taking time and visiting our Website. We are Ugam Telecom, a comapany you can always rely on, for your daily needful things in terms of services related to telecom, entertainment, travelling, paying utilities or transferring Money. We build relationships and connect the World.
 </p>
</div>


</body>
</html>
