<!doctype html>
<html>
<head>
  		<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<nav class="navbar navbar-default default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dealer</a></li>
        <li><a href="#">Retailer</a></li>
        <li><a href="#">Report</a></li>
        <li><a href="#">Complain & Account Setting</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
</nav>
<div class="well well-sm">List of Distributors</div>

<table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>D No</th>
        <th>D Name</th>
        <th>Mobile</th>
        <th>State</th>
        <th>City</th>
        <th>Email ID</th>
        <th>Balance</th>
        <th>Login</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>56779</td>
        <td>John</td>
        <td>9876654321</td>
        <td>Karnataka</td>
        <td>Bangalore</td>
        <td>john@example.com</td>
        <td>100</td>
        <td>Active</td>
        <td>hbhscnjs</td>
      </tr>
    </tbody>
  </table>
 </div> 
</body>
</html>  