
<div style="width:50%;margin:auto;">
<form class="form-horizontal" action="">
   <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <div class="radio">
          <label><input type="radio" name="mobile" checked>Mobile </label>
          <label><input type="radio" name="dth">DTH </label>
          <label><input type="radio" name="postpaid">Postpaid </label>
          <label><input type="radio" name="utility">Utility </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Company:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="text" placeholder="Enter company name" name="email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Mobile No:</label>
      <div class="col-sm-10">          
        <input type="tel" class="form-control" id="mobileno" placeholder="Enter mobile number" name="mobileno">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Amount:</label>
      <div class="col-sm-10">          
        <input type="number" class="form-control" id="amount" placeholder="Enter amount" name="amount">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Customer Name:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="cname" placeholder="Enter customer name" name="cname">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label><input type="checkbox" name="credit"> Credit</label>
        </div>
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
 </div> 

 <div class="well well-sm">Today Last Transactions</div>

 <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Company</th>
        <th>Mobile No</th>
        <th>Amount</th>
        <th>By</th>
        <th>Status</th>
        <th>Date Time</th>
        <th>Transaction</th>
        <th>Complain</th>
        <th>Print</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>JIO</td>
        <td>9876654321</td>
        <td>200</td>
        <td>GPRS</td>
        <td>Success</td>
        <td>20/02/92 02:03:01</td>
        <td>Debit</td>
        <td>---</td>
        <td>---</td>
      </tr>
    </tbody>
  </table>
