<!doctype html>
<html>
<head>
<title>Retailer Top Up </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
  <div class="container-fluid">
<div class="well">
    <h3> Account Ledger Report</h3>
  </div>  
<div>
  <form>
<div class="row">
         <div  class="col-xs-3">
       <div class="form-group">
      <label for="sel1" >From Date:</label><input type="date" name="bday"> 
      </div >
      </div>
       <div  class="col-xs-3">
  <div class="form-group">    
  <label for="sel1" >To Date:</label><input type="date" name="bday">
 </div >
 </div>
             
 <button type="button" class="btn btn-success" >Search</button>
 <button type="button" class="btn btn-danger" >Export</button>
 </form>
</div>
<div style="padding:3vh">
<table class="table table-bordered">
    <thead>
      <tr  style="background:orange">
        <th>Payment Date</th>
        <th>Payment Id</th>
        <th>Payment To</th>
        <th>User type</th>
        <th>Transaction type</th>
        <th>Payment type</th>
        <th>Description</th>
        <th>Remark</th>
        <th>Credit Amount</th>
        <th>Debit Amount</th>
        <th>Balance</th>
      </tr>
    </thead>
    
  </table>
</div>           
  </div>
</div>
</body>
</html>